.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner {
  background-image: url(../img/top/banner.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  height: 524px;
  position: relative;
}

.caption {
  color: @bgcolor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .caption-top {
    span {
      font-size: 96px;
      font-weight: bold;
      letter-spacing: -3px;

      &:after {
        content: '';
        width: 14px;
        height: 14px;
        background-color: @bgcolor;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .sub-caption {
    font-size: 26px;
    line-height: 1;
    padding-top: 28px;
  }
}

