header {

  .header-top {
    height: 33px;
    background-color: @primary-01;
    .clearfix();

    .group-portal {
      color: @bgcolor;
      height: 33px;
      float: right;
      background-color: @primary-02;
      padding-left: 28px;
    }

    select {
      padding: 0 10px;
      border: 0;
      position: relative;
      height: 33px;
      font-size: 14px;
      line-height: 33px;
      color: @bgcolor;
      background-color: @primary-02;
    }

    .icon-world {
      height: 33px;
      display: inline-block;
    }
  }

  .main-menu {
    padding: 20px 0;
    width: 100%;
    .clearfix();

    h1 {
      line-height: 1;
    }

  }
  .logo-header {
    float: left;
    width: 17%;
  }
  nav {
    float: left;
    width: 83%;
    ul {
      display: flex;
      justify-content: center;
    }

    li {
      padding: 0 23px;
      font-size: 15px;
      line-height: 34px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  header {
    .header-top {
      height: 0.65rem;

      .group-portal {
        padding: 0.2rem 0.1rem 0.2rem 0.2rem;
        height: auto;
      }
    }
  }
}
