@charset "utf-8";





/*===== COMMON =====*/

html, body {
  width: 100%;
  min-height: 100%;
}
body {
  background: #FFF;
  font-size: 14px;
  line-height: 1.4;
  font-family: Meiryo, YuGothic, "Hiragino Kaku Gothic ProN", sans-serif;
  -webkit-text-size-adjust: none;
  color: #000;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,img,ins,kbd,q,s,samp,strike,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select{outline:none;font-size: 100%;font: inherit;border:0;vertical-align:baseline;margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}.clear{clear:both}.clearfix:after{content:" ";display:table;clear:both}.clearfix{*zoom:1}ul,ol{list-style:none;}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}body *{max-height:99999em}body img{max-height:none}


.ft_serif {
  font-family: "Hiragino Mincho Pro", Times, "Times New Roman", Georgia, serif;
}

a {
  color: #000;
  text-decoration: none;
}

.trans {
  opacity: 1;
}
.trans:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: .8;
  -khtml-opacity: .8;
  opacity: .8;
}

.container {
  width: 100%;
  min-width: 980px;
}

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


/*===== FONT SIZE =====*/

/*===== RESPONSIVE =====*/
@media (max-width: 640px) {
  html {
    font-size: 100px;
  }
}
@media (max-width: 635px) {
  html {
    font-size: 99.21875px;
  }
}
@media (max-width: 630px) {
  html {
    font-size: 98.4375px;
  }
}
@media (max-width: 625px) {
  html {
    font-size: 97.65625px;
  }
}
@media (max-width: 620px) {
  html {
    font-size: 96.875px;
  }
}
@media (max-width: 615px) {
  html {
    font-size: 96.09375px;
  }
}
@media (max-width: 610px) {
  html {
    font-size: 95.3125px;
  }
}
@media (max-width: 605px) {
  html {
    font-size: 94.53125px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 93.75px;
  }
}
@media (max-width: 595px) {
  html {
    font-size: 92.96875px;
  }
}
@media (max-width: 590px) {
  html {
    font-size: 92.1875px;
  }
}
@media (max-width: 585px) {
  html {
    font-size: 91.40625px;
  }
}
@media (max-width: 580px) {
  html {
    font-size: 90.625px;
  }
}
@media (max-width: 575px) {
  html {
    font-size: 89.84375px;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 89.0625px;
  }
}
@media (max-width: 565px) {
  html {
    font-size: 88.28125px;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 87.5px;
  }
}
@media (max-width: 555px) {
  html {
    font-size: 86.71875px;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 85.9375px;
  }
}
@media (max-width: 545px) {
  html {
    font-size: 85.15625px;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 84.375px;
  }
}
@media (max-width: 535px) {
  html {
    font-size: 83.59375px;
  }
}
@media (max-width: 530px) {
  html {
    font-size: 82.8125px;
  }
}
@media (max-width: 525px) {
  html {
    font-size: 82.03125px;
  }
}
@media (max-width: 520px) {
  html {
    font-size: 81.25px;
  }
}
@media (max-width: 515px) {
  html {
    font-size: 80.46875px;
  }
}
@media (max-width: 510px) {
  html {
    font-size: 79.6875px;
  }
}
@media (max-width: 505px) {
  html {
    font-size: 78.90625px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 78.125px;
  }
}
@media (max-width: 495px) {
  html {
    font-size: 77.34375px;
  }
}
@media (max-width: 490px) {
  html {
    font-size: 76.5625px;
  }
}
@media (max-width: 485px) {
  html {
    font-size: 75.78125px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 75px;
  }
}
@media (max-width: 475px) {
  html {
    font-size: 74.21875px;
  }
}
@media (max-width: 470px) {
  html {
    font-size: 73.4375px;
  }
}
@media (max-width: 465px) {
  html {
    font-size: 72.65625px;
  }
}
@media (max-width: 460px) {
  html {
    font-size: 71.875px;
  }
}
@media (max-width: 455px) {
  html {
    font-size: 71.09375px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 70.3125px;
  }
}
@media (max-width: 445px) {
  html {
    font-size: 69.53125px;
  }
}
@media (max-width: 440px) {
  html {
    font-size: 68.75px;
  }
}
@media (max-width: 435px) {
  html {
    font-size: 67.96875px;
  }
}
@media (max-width: 430px) {
  html {
    font-size: 67.1875px;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 66.40625px;
  }
}
@media (max-width: 420px) {
  html {
    font-size: 65.625px;
  }
}
@media (max-width: 415px) {
  html {
    font-size: 64.84375px;
  }
}
@media (max-width: 410px) {
  html {
    font-size: 64.0625px;
  }
}
@media (max-width: 405px) {
  html {
    font-size: 63.28125px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 62.5px;
  }
}
@media (max-width: 395px) {
  html {
    font-size: 61.71875px;
  }
}
@media (max-width: 390px) {
  html {
    font-size: 60.9375px;
  }
}
@media (max-width: 385px) {
  html {
    font-size: 60.15625px;
  }
}
@media (max-width: 380px) {
  html {
    font-size: 59.375px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 58.59375px;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 57.8125px;
  }
}
@media (max-width: 365px) {
  html {
    font-size: 57.03125px;
  }
}
@media (max-width: 360px) {
  html {
    font-size: 56.25px;
  }
}
@media (max-width: 355px) {
  html {
    font-size: 55.46875px;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 54.6875px;
  }
}
@media (max-width: 345px) {
  html {
    font-size: 53.90625px;
  }
}
@media (max-width: 340px) {
  html {
    font-size: 53.125px;
  }
}
@media (max-width: 335px) {
  html {
    font-size: 52.34375px;
  }
}
@media (max-width: 330px) {
  html {
    font-size: 51.5625px;
  }
}
@media (max-width: 325px) {
  html {
    font-size: 50.78125px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 50px;
  }
}

/*===== RESPONSIVE =====*/

.sm {
  display: none !important;
}

@media (max-width: 640px) {

  .md {
    display: none !important;
  }
  .sm {
    display: block !important;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
  img.inline {
    display: inline;
    width: auto;
  }

  .trans {
    opacity: 1;
  }
  .trans:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

  .container {
    width: auto;
    min-width: 0;
  }
  .wrapper {
    width: auto;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

}
