footer
  .wrapper
    .footer-top
      +link('').logo-footer
        +img('logo', 'images/upload/logo.png')
      nav.menu-footer
        ul
          li
            +link('menu 01', '#')
          li
            +link('menu 02', '#')
          li
            +link('menu 03', '#')
          li
            +link('menu 04', '#')
          li
            +link('menu 05', '#')
    .coppy-right
      | text coppy right
