include ../mixins/all

header
  .header-top
    .group-portal.form-dropdown-ie9
      .icon-world
        +img('', 'img/common/icon_world.png')
      select.select-group-portal(name='Group portal option')
        option(value='グループポータル') グループポータル
        option(value='グループポータル 1') グループポータル 1
        option(value='グループポータル 2') グループポータル 2
  .main-menu
    .wrapper
      h1.logo-header
        +link('logo header', './')
          +img('logo', 'img/common/logo_header.png')
      nav
        ul
          li
            +link('企業情報', '#')
          li
            +link('サービス', '#')
          li
            +link('IR情報', '#')
          li
            +link('リクルート', '#')
          li
            +link('　お問い合わせ', '#')
