extends layouts/layout

block vars
  -title = 'Homepage'
  -description = 'abc'
  -keywords = 'def'

block container
  main.main
    section.banner
      .wrapper
        h2.caption
          .caption-top
            span MISSION
            span VISION
            span VALUES
          p.sub-caption アジアを代表するリテイルサポートグループへ
    .ir-recruit-information.wrapper
      .ir-information
      .recruit-information
    section.desc-company
      .wrapper.list-desc
        .service.desc-item
          +img('','images/upload/trans.jpg')
          h3.title
          .desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        .information-company.desc-item
          +img('','images/upload/trans.jpg')
          h3.title
          .desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        .group-vision.desc-item
          +img('','images/upload/trans.jpg')
          h3.title
          .desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    section.information-director
      .wrapper
        .thumb-director
          +img('','images/upload/trans.jpg')
        .desc-director
          h2.title
          .desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          +link('link message', '#').link-message
    section.what-news
      .wrapper
        .news-top
          h3.title 新着情報
          .text-news News
          .link-announcements
            +link('過去のお知らせを見る', '#')
        .content-news
          .content-news-item
            .date-news 2017.05.01
            .topic-news.bgd-purple トピックス
            .sub-title-news 採用情報
          .content-news-item
            .date-news 2017.05.01
            .topic-news.bgd-green トピックス
            .sub-title-news 採用情報
          .content-news-item
            .date-news 2017.05.01
            .topic-news.bgd-blue トピックス
            .sub-title-news 採用情報



