include ../mixins/all

block vars
  -title = 'Site'
  -description = 'abc'
  -keywords = 'def'

doctype html
<!--[if lte IE 9]><html class="ie9" lang="ja"><![endif]-->
<!--[if (gt IE 9)|!(IE)]>-->
<html lang="ja">
<!--<![endif]-->

head
  meta(charset="utf-8")
  meta(name="HandheldFriendly" content="True")
  meta(name="MobileOptimized" content="320")
  meta(name="format-detection" content="telephone=no")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="description" content=description)
  meta(name="keywords" content=keywords)
  title=title
  link(rel="stylesheet", href="style/style.css")

  <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="cleartype" content="on" />
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/IE9.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  body
    .container
      include ../blocks/header
      block container
      include ../blocks/footer
    block layer
    include ../blocks/script
